<div class="widget widget-chart-one desk_flex">
    <div class="inv-action">
        <form action="/create/voucher" method="POST" id="new" style="display: flex;flex-direction: row;">
            <div class="col-md-12 mb-2">
                <label for="exampleFormControlInput2">Product Name : </label>
                <input type="text" name="name" class="form-control" id="exampleFormControlInput2" placeholder="7889839939" min="0000000000" max="9999999999" maxlength="10">
            </div>
            <div class="col-md-12 mb-2">
                <label for="exampleFormControlInput2">Product Price : </label>
                <input type="text" name="price" class="form-control" id="exampleFormControlInput2" placeholder="7889839939" min="0000000000" max="9999999999" maxlength="10">
            </div>
            <div class="col-md-12 mb-2">
                <label for="exampleFormControlInput2">Product Quantity : </label>
                <input type="text" name="qty" class="form-control" id="exampleFormControlInput2" placeholder="7889839939" min="0000000000" max="9999999999" maxlength="10">
            </div>
            <div class="">
                <label for="exampleFormControlInput2">. </label>
                <button form="new" class="btn btn-primary" style="width: 200px;height: 45px;">Create Invoice</button>
            </div>

        </form>
    </div>



</div>